# This file includes global variables that will be available inside your project
# 1. In the front end code you can access this variables like this: console.log(process.env.VARIABLE_NAME)
# 1. In the back end code you access the variable by importing os and then typing print(os.getenv('VARIABLE_NAME'))

# Back-End Variables
DATABASE_URL=postgresql://gitpod@localhost:5432/example
FLASK_APP_KEY="any key works"
FLASK_APP=src/app.py
FLASK_ENV=development
LOGO=https://res.cloudinary.com/dn7fj8zhu/image/upload/v1659050255/Logotipo_formal_escudo_le%C3%B3n_seguro_borravino-2_g8icis.png
# Front-End Variables
BASENAME=/
