#app {
  background-color: #fff8f9;
  /* border: 8px solid black; */
  border: 4px solid transparent;
  border-image: linear-gradient(
      to bottom,
      #211224 0%,
      #fff8f9 80%,
      #aa8caf 100%
    )
    1;
  border-bottom: #fff8f9;
}

#usoPersonal {
  margin: 4%;
  margin-top: 0.5%;
}

#externo {
  margin: 4%;
  margin-top: 0.5%;
}

.form-control {
  border: 1px solid #545454;
}
